
.oder-sec {
	background-image: url(https://via.placeholder.com/828x900
);
	background-repeat: no-repeat;
	background-position: right;
}
.order-appliction {
	max-width: 750px;
	h2 {
		color: #fff;
		font-weight: 800;
		font-size: 80px;
		line-height: 88px;
		text-transform: capitalize;
		margin-bottom: 68px;
		span {
			display: inline-block;
			color:$primary-color;
		}
	}
	.vl-fzt {
		max-width: 535px;
		margin-bottom: 74px;
		li {
			display: flex;
			margin-bottom: 38px;
			&:last-child {
				margin-bottom: 0;
			}
			> span {
				margin-top: 4px;
				display: inline-block;
				svg {
					path {
						stroke: $primary-color;
					}
				}
			}
			.vs-info {
				padding-left: 25px;
				h4 {
					color: #fff;
					font-size: 20px;
					line-height: 34px;
					font-weight: 600;
					margin-bottom: 10px;
				}
				p {
					color: rgba(255,255,255,0.60);
				}
			}
		}
	}
	.btnss {
		li {
			display: inline-block;
			margin-right: 18px;
			&:last-child {
				margin-right: 0;
			}
			img {
				border-radius: 7px;
			}
		}
	}
}