

.promotion {
	max-width: 650px;
	> h2 {
		font-weight: 800;
		font-size: 80px;
		line-height: 88px;
		color: #fff;
		margin-bottom: 28px;
		span {
			color: $primary-color;
		}
	}
	> span {
		display: block;
		font-size: 20px;
		margin-bottom: 45px;
		color: #fff;
	}
	p {
		color: rgba(255,255,255,0.60);
		margin-bottom: 50px;
		padding-right: 90px;
	}
}