
.services-section {
	margin-top: -110px;
}
.services-sec {
	.service {
		overflow: hidden;
		background:#22262F;
		@include radius(10px);
		padding: 44px 45px 41px;
		position: relative;
		h2 {
			font-family: $primary-fontfamily;
			font-size: 100px;
			position: absolute;
			top: -30px;
			right: -10px;
			color: #fff;
			opacity: 0.03;
		}
		> span {
			display: inline-block;
			color: $primary-color;
			font-size: 14px;
			margin-bottom: 12px;
			font-weight: 500;
			img {
				margin-right: 11px;
			}
		}
		> h4 {
			color: #fff;
			font-size: 20px;
			margin-bottom: 25px;
		}
		p {
			font-size: 16px;
			line-height: 27px;
			color: rgba(255,255,255,0.70);
		}
	}
}